.nav_letra{
  font-family:'Lucida Grande';
  color: rgb(142, 91, 36);
  font-size: large;
}

.nav_letra:hover{
  font-family: 'Lucida Grande';
  font-size: larger;
  font-weight: bold;
  color: rgb(122, 79, 33);
}
 .pagination ul,.pagination a.page-link{
  background-color: transparent;
  border: 1px solid rgb(122, 79, 33);
}
.page-link.active, .active > .page-link {
  font-family:sans-serif;
  color: rgb(78, 43, 5);
  font-weight: bolder;
  background: rgba(122, 79, 33, 0.445);
  border-width: 1px;
  border-color: rgb(122, 79, 33);
}
li.page-item.disabled, .disabled > .page-link,.pagination a.page-link {
  font-family:sans-serif;
  color: rgb(78, 43, 5);
  font-weight: bolder;
  background: transparent;
  border-width: 1px;
  border-color: rgb(122, 79, 33);
}
 .pagination a, .pagination span {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid rgb(122, 79, 33);
}
a.page-link,.disabled > .page-link {
  font-family:sans-serif;
  color: rgb(78, 43, 5);
  font-weight: bolder;
  background: transparent;
  border-width: 1px;
  border-color: rgb(122, 79, 33);
}
.pag_left{
  color: rgb(78, 43, 5);
}
.mi_letra{
  font-family:sans-serif;
  font-size: medium;
  color: rgb(122, 79, 33);
  text-decoration: none;
}
.titulo_letra{
  color: rgb(105, 62, 16);
}
body{
  background-color:rgb(250, 234, 209);
  padding-bottom: 8%;
  padding-top: 8%;
}
.VERY_UNLIKELY{
  color: green;
}
.UNLIKELY{
  color: greenyellow;
}
.POSSIBLE{
  color: yellow;
}
.LIKELY{
  color: red;
}
.VERY_LIKELY{
  color: orange;
}
.UNKNOWN{
  color: grey;
}
.mi_footer{
  color:rgb(3, 3, 3);
  background: linear-gradient(rgba(250, 234, 209, 0.667), rgb(167, 128, 64));
}
.mi_nav{
  background: linear-gradient(rgba(167, 128, 64, 0.975),rgba(250, 234, 209, 0.667));
}
.mi_card{
  padding: 20px;
  background: rgba(250, 211, 147, 0.347);
  margin-top: 20px;
  border-color: transparent;
  /* border: solid 3px rgb(252, 225, 180); 
  box-shadow: 10px 3px 10px 3px rgb(202, 176, 133) inset;*/
  border-radius: 50px;
}
.mi_card:hover{
  padding: 8px;
  background: rgba(247, 217, 170, 0.518);
  margin-top: 20px;
  border-color: transparent;
  border: solid 3px rgb(252, 225, 180); 
  box-shadow: 10px 3px 10px 3px rgb(202, 176, 133) inset;
  border-radius: 10px;
}
.mi_boton{
  width: 110px;
  border-radius: 30px;
  /* border: 2px solid rgb(122, 79, 33); */
  background: transparent;
  padding: 8px;
  color: rgb(147, 105, 59);
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px rgb(122, 79, 33) inset;
  /* text-shadow: 2px 1px 5px rgb(105, 62, 16); */
}
.mi_img{
  border-radius: 20px;
  background-color: transparent;
}
.mi_carousel{
  height: 100%;
  width: 30%;
  border: 5px solid rgb(105, 62, 16);
  border-radius: 35px;
  background-color: transparent;
}
.page-item, .active{
  border-radius: 35px;
  background-color: transparent;
}
.borrar_boton{
  width: 110px;
  border-radius: 25px;
  border: 2px solid rgb(162, 25, 25);
  background: transparent;
  padding: 8px;
  color: rgb(193, 27, 27);
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px rgb(219, 33, 33) inset;
}

.flag-icon{
  border-radius: 80%;
}
.flag-icon:hover{
  border-radius: 3%;
}
a.dropdown-item:hover{
  background: rgba(122, 79, 33, 0.445)
}
.mi_search{
  border-style: none;
  background: transparent;
}