.nav_letra{
  font-family:'Lucida Grande';
  color: rgb(82, 52, 21);
  font-size: medium;
}
.nav_letra:hover{
  font-family: 'Lucida Grande';
  font-weight: bold;
  font-size: 18px;
  color: rgb(122, 79, 33);
}
 .pagination ul,.pagination a.page-link{
  background-color: transparent;
  border: 1px solid rgb(122, 79, 33);
}
.page-link.active, .active > .page-link {
  font-family:sans-serif;
  color: rgb(78, 43, 5);
  font-weight: bolder;
  background: rgba(122, 79, 33, 0.445);
  border-width: 1px;
  border-color: rgb(122, 79, 33);
}
li.page-item.disabled, .disabled > .page-link,.pagination a.page-link {
  font-family:sans-serif;
  color: rgb(78, 43, 5);
  font-weight: bolder;
  background: transparent;
  border-width: 1px;
  border-color: rgb(122, 79, 33);
}
 .pagination a, .pagination span {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid rgb(122, 79, 33);
}
a.page-link,.disabled > .page-link {
  font-family:sans-serif;
  color: rgb(78, 43, 5);
  font-weight: bolder;
  background: transparent;
  border-width: 1px;
  border-color: rgb(122, 79, 33);
}
.pag_left{
  color: rgb(78, 43, 5);
}
.mi_letra{
  font-family:sans-serif;
  font-size: medium;
  color: rgb(122, 79, 33);
  text-decoration: none;
}
.precio_letra{
  font-family:sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(197, 44, 44);
  text-decoration: none;
}
.titulo_letra{
  color: rgb(105, 62, 16);
}
/* .container{
  background-color: rgb(30, 131, 51);
} */
body{
  background-color:rgb(250, 234, 209);
  padding-bottom: 8%;
  padding-top: 8%;
}
.VERY_UNLIKELY{
  color: green;
}
.UNLIKELY{
  color: greenyellow;
}
.POSSIBLE{
  color: yellow;
}
.LIKELY{
  color: orange;
}
.VERY_LIKELY{
  color: red;
}
.UNKNOWN{
  color: grey;
}
.mi_footer{
  color:rgb(3, 3, 3);
  background: linear-gradient(rgba(250, 234, 209, 0.667), rgb(167, 128, 64));
}
.mi_nav{
  background: linear-gradient(rgba(167, 128, 64, 0.975),rgba(254, 234, 201, 0.959));
 
}
.mi_card, .card_login{
  transition: 0.5s ease-in-out;
  padding: 20px;
  background: rgba(250, 211, 147, 0.347);
  margin-top: 20px;
  border-color: transparent;
  border-radius: 20px;
}
.mi_card:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px 10px 3px rgb(202, 176, 133);
}
.mi_boton{
  transition: 0.5s ease-in-out;
  width: 110px;
  border-radius: 30px;
  border-color: transparent;
  background: transparent;
  padding: 8px;
  color: rgb(147, 105, 59);
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px rgb(122, 79, 33) inset;
}
.mi_boton:hover{
  transform: scale(1.05);
  color: rgb(147, 105, 59);
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px rgb(122, 79, 33) inset;
}
.mi_img{
  border-radius: 20px;
  background-color: transparent;
}
.mi_carousel{
  height: 100%;
  width: 500px;
  border: 5px solid rgb(105, 62, 16);
  border-radius: 35px;
  background-color: transparent;
}
.page-item, .active{
  border-radius: 35px;
  background-color: transparent;
}
.borrar_boton{
  transition: 0.5s ease-in-out;
  width: 110px;
  border-radius: 25px;
  border: transparent;
  background: transparent;
  padding: 8px;
  color: rgb(193, 27, 27);
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px rgb(219, 33, 33) inset;
}
.borrar_boton:hover{
  transform: scale(1.05);
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px rgb(219, 33, 33) inset;
}

.flag-icon{
  transition: 0.5s ease-in-out;
  border-radius: 8%;
 
}
.flag-icon:hover{
  border-radius: 80%;
  -webkit-border-radius: 80%;
  box-shadow: 0px 0px 10px 5px rgb(108, 67, 22);
  -webkit-box-shadow: 0px 0px 10px 5px rgb(129, 80, 28);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
a.dropdown-item:hover{
  background: rgba(122, 79, 33, 0.445);
}
.mi_icono{
  transition: 0.5s ease-in-out;
  color:rgb(3, 3, 3);
}
.mi_icono:hover{
  color: rgb(122, 79, 33);
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.mi_search{
  border: 5px solid transparent;
  border-radius: 10px;
  outline: none;
  height: 35px;
  width: 250px;
  background-color:rgb(250, 234, 209);
}
.input_group{
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  background-color:rgb(250, 234, 209);
}

.btn_search{
  position: absolute;
  right: 1px;
  margin-top: 5px;
  width: 30px;
}
.mi_search:focus{
  background-color:rgb(250, 234, 209);
}






